:root {
    --blue: #0355cc;
    --blue-light: #d1e3ff;
    --indigo: #6610f2;
    --orange: #fd7e14;
    --footer: #0a0f43;
    --white: #fff;
    --dark: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
}

/*Header*/

header {
    background-color: var(--blue-light);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    background-color: var(--dark);
    padding-left: 20px;
    padding-right: 20px;
}

.header-call,
.header-email {
    display: flex;
    color: var(--white);
    cursor: pointer;
}

.header-inance {
    display: flex;
    padding: 20px 60px 20px 25px;
    justify-content: space-between;
}

.header-title {
    color: var(--blue);
    font-size: 24px;
    font-weight: 500;
}

.menu-screen {
    display: flex;
    list-style: none;
    gap: 3em;
}

.menu-mobile {
    display: none;
}

.menu-screen li a {
    color: var(--dark);
    text-decoration: none;
}

.menu-screen li a:hover {
    color: var(--blue);
}

.menu-screen li .active {
    color: var(--blue);
}

.header-content {
    display: flex;
    padding: 0px 170px 0px 150px;
}

.header-content-text {
    margin-top: 10em;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

.content-title {
    width: 50%;    
    margin-bottom: 30px;
}

.content-title h1 {
    color: var(--blue);
    font-size: 40px;
}

.header-button {
    margin-top: 50px;
}

.btn-contact {
    border: 1px solid var(--orange);
    background-color: var(--orange);
    border-radius: 2px;
    padding: 12px 43px 12px 43px;
    font-size: 17px;
    color: var(--white);
    text-decoration: none;
}

.btn-contact:hover {
    color: var(--orange);
    background-color: transparent;
}

.content-funtion {
    display: flex;
    margin-top: -7em;
    padding: 0px 100px 0px 100px;
    text-align: center;
    align-items: center;
    justify-content: center;    
}

.card-funtion {    
    width: calc(100%/3);    
    margin: 10px;
    padding: 50px;
    background-color: var(--white);
    box-shadow: 0 0px 15px 0 rgb(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;    
}

.card-funtion.active {
    background-color: var(--orange);
    color: var(--white);    
}

.card-funtion:hover {
    background-color: var(--orange);
    color: var(--white);
}

.card-funtion .bx {
    font-size: 100px;    
}

.card-funtion h5 {
    font-size: 20px;    
    font-weight: 400;
}

/*End Header*/

/*About Us*/

.content-aboutUs {
    display: flex;
    margin-top: 20px;
    margin-bottom: 120px;
    align-items: center;
    justify-content: center; 
}

.content-aboutUs-text {      
    margin-bottom: 50px;    
    padding: 50px 100px 0px 100px;
}

.title-aboutUs {
    font-size: 30px;    
}

.content-aboutUs-text p {
    width: 110%;
    margin-top: 15px;
    text-align: left;
    text-align: justify;
}

.aboutUs-button {    
    margin-top: 50px;    
}

.btn-aboutUs {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    border-radius: 2px;
    padding: 12px 43px 12px 43px;
    font-size: 17px;
    color: var(--white);
    text-decoration: none;
}

.btn-aboutUs:hover {    
    color: var(--blue);
    background-color: transparent;
}

.imagen-aboutUs {        
    margin: 70px 80px 0px 0px;
}

/*End About Us*/

/*Home Services*/

.content-Homeservices {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-light);
    padding: 120px 100px 120px 100px;
}

.title-Homeservices {
    font-size: 35px;    
    color: var(--blue);
}

.content-Homeservices-text p{
    margin-top: 20px;
}

/*End Home Services*/

/*Our Services*/

.content-ourServices { 
    width: auto;       
    text-align: center;
    margin: 120px 100px 120px 100px;
}

.title-ourServices {
    font-size: 32px;
}

.content-cards {    
    display: flex;   
    margin-top: 70px;    
}

.card-ourServices {    
    max-width: 50%;
    background-color: var(--white);
    padding: 30px;
    margin: 15px;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.15);
    transition: all 0.3s ease-in;
}

.card-ourServices:hover {
    background-color: var(--orange);
    color: var(--white);
}

.card-ourServices h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.card-ourServices img {
    width: 25%;
    height: 40%;
}

/*End Our Services*/

/*Clients*/

.content-clients {
    text-align: center;
    justify-content: center;
    align-items: center;    
    padding: 30px 100px 100px 152px;
}

.content-clients h2 {
    font-size: 30px;
}

.content-clients-text {
    display: flex;
    margin-top: 100px;    
}

.card-clients {
    padding: 25px;
    margin-right: 40px;
    background: white;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.15);
}

.details-clients {
    display: flex;
    justify-content: left;
    align-items: center;
}

.info-clients {
    padding-left: 20px;
}

.info-clients h6 {
    font-size: 17px;
    font-weight: 400;
}

.info-clients box-icon {
    width: 12%;
}

.details-clients .comillas {
    margin-left: 35%;    
}

.image-clients {
    text-align: left;
}

.image-clients img {
    border-radius: 50%;
}

.opinion-client {
    padding: 20px 0px 20px 0px;
    text-align: left;
}

.carousel-btn-clients {
    margin-top: 20px;
}

.carousel-btn-clients button {
    cursor: pointer;
    padding: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);    
    text-decoration: none;
    border: none;
    margin-right: 40px;
}

/*End Clients*/

/*Contact*/

.content-contact {   
    display: flex;         
    flex-direction: column;
    padding: 30px 100px 100px 100px;
}

.content-contact h2 {
    font-size: 32px;
}

.content-contact-text {
    display: flex;
    width: 100%;    
    margin-top: 30px;    
}

form {
    display: flex;
    min-width: 50%;
    margin-right: 20px;
    flex-direction: column;
}

.contact-input {      
    text-align: left;  
    justify-content: center;
    align-items: center;
    border: none;
    margin: 10px;
    padding: 16px 0px 16px 30px;    
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.15);
    text-decoration: none;
    
}

form input::placeholder {
    font-size: 15px;
}

#message {
    padding: 50px 10px 50px 32px;
}

.contact-btn {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    border-radius: 2px;
    padding: 12px 43px 12px 43px;
    margin: 30px 0px 0px 10px;
    font-size: 17px;
    color: var(--white);
    text-decoration: none;
    max-width: 150px;
}

.contact-btn:hover {
    background-color: transparent;
    color: var(--blue);
}

/*End Contact*/

/*Footer*/

.content-footer {     
    background-color: var(--footer);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
    color: var(--white);    
}

.content-footer h2{
    color: var(--white);
    font-weight: 500;
}

.content-footer-contact {
    margin-left: -50px;
}

.content-footer-text {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;    
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 150px;        
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact:nth-child(3) {
    margin-left: 60px;
}

.contact a {
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-decoration: none;  
    justify-content: center;
    align-items: center;  
}

.contact p {
    margin-top: 30px;
}

.image {      
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--blue);
    border-radius: 100%;   
}

a:hover .image{
    background-color: var(--orange);
}


.content-followUs {
    background-color: var(--footer);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.content-followUs-text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content-icon {  
    display: flex; 
    background: var(--white);
    min-width: 10%;
    margin-top: 30px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 23px;
}

.content-icon i:hover {
    cursor: pointer;  
    color: var(--orange) !important;
}

.copyright {
    margin-top: 80px;
    border-top: 1px solid var(--white);
}

.copyright p {
    padding-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/*End Footer*/


/*Responsive*/

@media (max-width: 1200px) {
    
    .content-title {
        width: 80%;    
        margin-bottom: 30px;        
    }  

    .header-content {
        min-width: 110%;
    }
    
    .header-content img {
        width: auto;
        height: auto;
        padding-left: 60px;
    }

    .imagen-aboutUs {
        max-width: 50%;
        max-height: 50%;
    }

    .title-Homeservices {        
        font-size: 30px;
    }

    .image-clients img{
        width: 80%;
        height: 80%;
    }   
    
    .info-clients {
        margin-left: -30px;       
    }

    .map-contact iframe {
        width: 500px;
    }
}

@media (max-width: 1223px), (max-width: 990px) {
    
    .header-content,
    .content-aboutUs-text {
        padding: 0px 60px 0px 60px;
    }

    .content-funtion {
        margin-top: -5em;
    }

    .content-aboutUs {
        margin-top: 80px;
    }    

    .imagen-aboutUs {
        margin-left: 20px;
    }

    .content-Homeservices,
    .content-clients,
    .content-contact {
        padding: 60px;
    }

    .content-Homeservices img {
        max-width: 50%;
        max-height: 50%;
    }

    .content-ourServices {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content-cards {    
        width: 110%;
    }  
    
    .card-ourServices {
        padding-bottom: 60px;
    }

    .content-clients,
    .content-clients-text,
    .card-clients,
    .details-clients{
        width: 100%;
    }

    .content-clients-text {
        margin-left: 20px;
    }

    .carousel-btn-clients {
        margin-left: 35px;
    }

    .map-contact iframe {
        width: 400px;
    }
    
}

@media (max-width:980px), (max-width: 768px) {
   
    .header-content {
        padding: 0px 30px 0px 30px;
    }

    .content-title,
    .header-content-text {
        width: 100%;
    }

    .content-title h1{        
        font-size: 35px;
    }

    .header-content-text p {
        width: 150%;          
    }

    .content-aboutUs {
        display: flex;
        flex-direction: column;        
    }

    .content-aboutUs-text p{
        width: 100%;        
    }

    .aboutUs-button {        
        text-align: center;
        justify-content: center;
        align-items: center;                
    }

    .imagen-aboutUs {
        max-width: 90%;
        max-height: 80%;
        margin-left: 80px;
    }

    .content-Homeservices img {
        width: 100%;
        height: 100%;
    }

    .content-ourServices {  
        max-width: 100%;       
        margin: 120px 50px 120px 50px;
    }

    .content-clients {
        padding: 30px 30px;
    }

    .content-contact-text {
        display: flex;
        flex-direction: column;
    }

    .map-contact {
        margin-top: 40px;
    }

    .map-contact iframe {
        width: 100%;
    }

    .content-footer,
    .content-footer-contact {
        width: auto;  
    }

    .content-footer-text {        
        display: flex;               
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;     
    }

    .contact:nth-child(3) {
        margin-left: 0px;
    }
}

@media (max-width: 760px), (max-width: 500px) {

    .menu-screen {
        display: none;        
    }

    .menu-mobile {
        display: flex;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        margin-top: -130px;
    }

    .content-title h1 {
        width: 50%;
        font-size: 43px;    
    }

    .header-content-text p {
        width: 90%;
    }

    .header-content img {
        margin-top: 70px;
        padding: 0;              
    }

    .content-funtion {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .card-funtion {
        width: 150%;
    }

    .content-aboutUs-text {            
        padding: 0px 30px 0px 30px;
    }

    .aboutUs-button {
        text-align: left;
    }

    .content-Homeservices {
        padding: 90px 20px 90px 20px;
    }

    .content-Homeservices img {
        display: none;
    }

    .title-Homeservices {
        font-size: 32px;
    }

    .imagen-aboutUs {        
        margin: 10px 0px 0px 0px;
    }

    .content-cards {
        display: flex;            
        flex-direction: column;
    }

    .card-ourServices {
        max-width: 100%;
    }

    .content-clients-text {
        display: flex;
        flex-direction: column;
        padding: 0px 50px 0px 0px;
    }

    .card-clients {
        margin-bottom: 20px;
    }

    .menu-screen.active {
        display: flex;
    }
}
